Source: mythryl-mode
Section: editors
Priority: optional
Maintainer: Michele Bini <michele.bini@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: https://github.com/rev22/mythryl-mode

Package: mythryl-mode
Architecture: all
Depends: ${shlibs:Depends}, emacsen, ${misc:Depends}
Enhances: mythryl
Description: Emacs mode for editing Mythryl code
 This package provides emacs support for Mythryl code, including
 syntax highlighting, and the command run-mythryl to execute
 interactive Mythryl sessions within Emacs.
